<template data-controller-name="view.App">
	<div data-sap-ui-type="sap.m.App" id="theApp"> 
		<div data-sap-ui-aggregation="customData">			
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="cssfiles" data-value="css/CustomStyles.css">
			</div>
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="theme" data-value="sap_bluecrystal">
			</div>
		</div>	
		<div  data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="homePageView" data-view-name="view.HomePage"> </div>	
	</div>
</template>
