<template data-controller-name="view.HomePage" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="HOME" data-nav-button-text="Back" data-icon="" data-show-footer="false" id="homePage">
		<div data-sap-ui-type="sap.apb.SuperList" data-height="218px" data-metadata-file="view/EmpDetail.slmeta" data-width="325px" id="SuperList1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A325px%3Bheight%3A218px%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A0px%3Btop%3A2px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.apb.SuperList" data-height="224px" data-metadata-file="view/Levels.slmeta" data-width="318px" id="SuperList2">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A318px%3Bheight%3A224px%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A0px%3Btop%3A220px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>